<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">EMS</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {% comment %} <a class="nav-link" href="{% url 'ems:employee-list' %}">Employees</a> {% endcomment %}
                </li>
                <li class="nav-item">
                    {% comment %} <a class="nav-link" href="{% url 'ems:teacher-list' %}">Teachers</a> {% endcomment %}
                </li>
                <li class="nav-item">
                    {% comment %} <a class="nav-link" href="{% url 'ems:student-list' %}">Students</a> {% endcomment %}
                </li>
                <li class="nav-item">
                    {% comment %} <a class="nav-link" href="{% url 'ems:parent-list' %}">Parents</a> {% endcomment %}
                </li>
                <li class="nav-item">
                    {% comment %} <a class="nav-link" href="{% url 'ems:interaction-list' %}">Interactions</a> {% endcomment %}
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        {% comment %} <a class="nav-link" href="{% url 'ems:logout' %}">Logout</a> {% endcomment %}
                    </li>
                    <li class="nav-item">
                        {% comment %} <a class="nav-link" href="{% url 'ems:user-detail' user.id %}">View Details</a> {% endcomment %}
                    </li>
                {% else %}
                    <li class="nav-item">
                        {% comment %} <a class="nav-link" href="{% url 'ems:login' %}">Login</a> {% endcomment %}
                    </li>
                    <li class="nav-item">
                        {% comment %} <a class="nav-link" href="{% url 'register' %}">Register</a> {% endcomment %}
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->
    {% block extra_js %}
    {% endblock %}
</body>
</html>
